---
import Layout from '~/layouts/Layout.astro';
import SiteHeader from '~/components/SiteHeader.astro';
import Hero from '~/components/sections/Hero.astro';
import HeroStatsMobile from '~/components/sections/HeroStatsMobile.astro';
import Team from '~/components/sections/Team.astro';
import Testimonials from '~/components/sections/Testimonials.astro';
import Services from '~/components/sections/Services.astro';
import Pourquoi from '~/components/sections/Pourquoi.astro';
import FAQ from '~/components/sections/FAQ.astro';
import Contact from '~/components/sections/Contact.astro';
import Footer from '~/components/sections/Footer.astro';
---

<Layout>
  <SiteHeader />
  <main>
    <Hero />
    <HeroStatsMobile />
    <Team />
    <Testimonials />
    <Services />
    <Pourquoi />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
